<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>Attack_Btn.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{110,111}</string>
    <key>spriteSourceSize</key>
    <string>{110,111}</string>
    <key>textureRect</key>
    <string>{{278,0},{110,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Attack_Btn_Dwn.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{110,111}</string>
    <key>spriteSourceSize</key>
    <string>{110,111}</string>
    <key>textureRect</key>
    <string>{{278,113},{110,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Dpad_Btn.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{276,111}</string>
    <key>spriteSourceSize</key>
    <string>{276,111}</string>
    <key>textureRect</key>
    <string>{{0,0},{276,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Dpad_Btn_Dwn.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{276,111}</string>
    <key>spriteSourceSize</key>
    <string>{276,111}</string>
    <key>textureRect</key>
    <string>{{0,113},{276,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Jump_Btn.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{110,111}</string>
    <key>spriteSourceSize</key>
    <string>{110,111}</string>
    <key>textureRect</key>
    <string>{{390,0},{110,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Jump_Btn_Dwn.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{110,111}</string>
    <key>spriteSourceSize</key>
    <string>{110,111}</string>
    <key>textureRect</key>
    <string>{{390,113},{110,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{512,256}</string>
   <key>textureFileName</key>
   <string>game001Sheet-hd.png</string>
  </dict>
 </dict>
</plist>
